In [23]:
import pandas as pd
import numpy as np
data = pd.read_csv("rank.csv")
topic1=data[data.loc[:,"topic"] == 1]
topic2=data[data.loc[:,"topic"] == 2]
topic3=data[data.loc[:,"topic"] == 3]
topic4=data[data.loc[:,"topic"] == 4]
topic5=data[data.loc[:,"topic"] == 5]

# Topic 1

In [24]:
weight1={'NOTbad':-0.0156,'NOTgood':-0.0124,'amaz':-0.0168,'awesom':0.0193,'bad':-0.0760,'beauti':-0.0511,'best':0.0228,
            'better':-0.0166,'big':-0.0143,'complet':0.0294,'crowd':-0.0848,'delici':0.0222,'disappoint':-0.0285,
            'easi':-0.0140,'favorit':-0.0184,'fine':-0.0351, 'free':0.0219,'fresh':0.0174,
            'fun':-0.0114,'great':0.0184,'happi':-0.0339,'hate':-0.0342,'high':0.0104,'huge':0.0186 ,'least':-0.0739,
            'less':0.0172,'long':-0.0422,'okay':-0.0485,'old':0.0215,'origin':-0.0286,'perfect':-0.0195 ,
            'pleas':-0.0131,'plenti':-0.0225,'recommend':0.0160,'serious':-0.0196,'slow':-0.0659,
            'soft':0.0140,'special':0.0177,'spici':0.0112,'surpris':-0.0256,'sweet':0.0251,'tasti':0.0261,
             'worth':-0.0246,'wrong':-0.0928}

In [25]:
topic1.iloc[:5,0:]

,Unnamed: 0,topic,stars,overrate,food,service,price
0,--ujyvoQlwVoBgMYtADiLA,1,3.5,"{'good': 4, 'best': 0, 'great': 11, 'well': 0,...","{'good': 27, 'best': 4, 'great': 22, 'well': 1...","{'good': 9, 'best': 3, 'great': 10, 'well': 1,...","{'good': 2, 'best': 0, 'great': 1, 'well': 0, ..."
1,-1xCh7Cocn6IwFzhELyohA,1,2.5,"{'good': 7, 'best': 0, 'great': 3, 'well': 0, ...","{'good': 11, 'best': 1, 'great': 15, 'well': 0...","{'good': 5, 'best': 1, 'great': 1, 'well': 0, ...","{'good': 3, 'best': 0, 'great': 1, 'well': 0, ..."
2,-382X_bWhJKPJKP1VfXOmw,1,2.0,"{'good': 0, 'best': 0, 'great': 0, 'well': 1, ...","{'good': 11, 'best': 0, 'great': 3, 'well': 1,...","{'good': 8, 'best': 0, 'great': 4, 'well': 0, ...","{'good': 0, 'best': 0, 'great': 0, 'well': 0, ..."
3,-7teXSpi9nqy58WUd-8yfw,1,4.5,"{'good': 2, 'best': 0, 'great': 0, 'well': 0, ...","{'good': 4, 'best': 1, 'great': 3, 'well': 2, ...","{'good': 0, 'best': 0, 'great': 1, 'well': 0, ...","{'good': 2, 'best': 0, 'great': 0, 'well': 1, ..."
4,-8F04F54iDT6VgWPCgybug,1,4.5,"{'good': 6, 'best': 1, 'great': 25, 'well': 4,...","{'good': 24, 'best': 6, 'great': 13, 'well': 8...","{'good': 6, 'best': 0, 'great': 2, 'well': 0, ...","{'good': 1, 'best': 0, 'great': 0, 'well': 0, ..."

In [26]:
d=dict()
for i in range(topic1.shape[0]):
    score1=0
    num1=0
    score2=0
    num2=0
    score3=0
    num3=0
    score4=0
    num4=0
    d1=dict()
    food_dict=eval(topic1.loc[i,'food'])
    overrate_dict=eval(topic1.loc[i,'overrate'])
    service_dict=eval(topic1.loc[i,'service'])
    price_dict=eval(topic1.loc[i,'price'])
    for key in food_dict.keys():
        if key in weight1.keys():
            num1=num1+1
            score1=score1+food_dict[key]*weight1[key]
    for key in overrate_dict.keys():
        if key in weight1.keys():
            num2=num2+1
            score2=score2+overrate_dict[key]*weight1[key]
    for key in service_dict.keys():
        if key in weight1.keys():
            num3=num3+1
            score3=score3+service_dict[key]*weight1[key]
    for key in price_dict.keys():
        if key in weight1.keys():
            num4=num4+1
            score4=score4+price_dict[key]*weight1[key]
    d1['names']=topic1.loc[i,'Unnamed: 0']
    d1['stars']=topic1.loc[i,'stars']
    d1['food_scores']=score1/num1
    d1['overrate_scores']=score2/num2
    d1['service_scores']=score3/num3
    d1['price_scores']=score4/num4
    d[i]=d1

In [27]:
topic1_scores=pd.DataFrame(d)
topic1_scores=topic1_scores.T
topic1_scores=topic1_scores[['names','stars','food_scores','overrate_scores','price_scores','service_scores']]

In [28]:
topic1_scores['food_scores']=(topic1_scores['food_scores'] - topic1_scores['food_scores'].min()) / (topic1_scores['food_scores'].max() - topic1_scores['food_scores'].min())
topic1_scores['overrate_scores']=(topic1_scores['overrate_scores'] - topic1_scores['overrate_scores'].min()) / (topic1_scores['overrate_scores'].max() - topic1_scores['overrate_scores'].min())
topic1_scores['price_scores']=(topic1_scores['price_scores'] - topic1_scores['price_scores'].min()) / (topic1_scores['price_scores'].max() - topic1_scores['price_scores'].min())
topic1_scores['service_scores']=(topic1_scores['service_scores'] - topic1_scores['service_scores'].min()) / (topic1_scores['service_scores'].max() - topic1_scores['service_scores'].min())

In [30]:
topic1_scores.loc[:5,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
0,--ujyvoQlwVoBgMYtADiLA,3.5,0.108997,0.78829,0.598853,0.975695
1,-1xCh7Cocn6IwFzhELyohA,2.5,0.146654,0.719165,0.598853,0.956121
2,-382X_bWhJKPJKP1VfXOmw,2,0.0915269,0.738412,0.522656,0.895516
3,-7teXSpi9nqy58WUd-8yfw,4.5,0.152964,0.764904,0.564823,0.953724
4,-8F04F54iDT6VgWPCgybug,4.5,0.188,0.822416,0.564823,0.961661
5,-CfqFIH6rxUxJL9gR-k_XA,2.5,0.121522,0.721818,0.550398,0.937177

In [110]:
topic1_scores.sort_values('food_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
1145,u4sTiCzVeIHZY8OlaL346Q,4.5,1,0.536568,0.153505,0
965,lKom12WnYEjH5FFemK3M1Q,3.5,0.364491,0,0.609765,0.76246
1108,sc__kdcFV4IcNTfBx1707w,4.5,0.361278,1,0.996671,0.603396
1003,nlVjdQq9FzdQ3bfy-8y80g,4,0.342814,0.689827,0.600888,0.744515
1114,slMjKmGTnufGx6ZWR6Mg3A,4.5,0.31673,0.733657,0.632883,0.971869
1027,oeW0vIYd3rUnAPgmD4fEFg,4,0.311181,0.704027,0.423895,0.641819
265,CK-Gv3vqIlWOrKP4fhT8_g,4.5,0.294598,0.784894,0.414648,0.862728
233,Atk1wlFBAjbxczwL0uwQVg,4.5,0.287253,0.912017,0.567228,0.953577
458,LhfKAGpQ12pgvQRqg-2wmw,4.5,0.284452,0.893159,0.781579,0.975411
69,2jqUYcKMYZXnpxNTkORJgQ,4.5,0.280436,0.919101,0.632144,0.96862

In [111]:
topic1_scores.sort_values('overrate_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
1108,sc__kdcFV4IcNTfBx1707w,4.5,0.361278,1,0.996671,0.603396
833,eIedjt0mHVKDFmfhtfKSAQ,4.5,0.174525,0.92709,0.61069,0.988899
274,Cf0iV72DTqR0ggBje2d0sg,4.5,0.254341,0.923144,0.532458,1
115,5h7ra0kJKswSZEzbFSIpaw,4,0.0996755,0.92075,0.632883,0.956026
69,2jqUYcKMYZXnpxNTkORJgQ,4.5,0.280436,0.919101,0.632144,0.96862
233,Atk1wlFBAjbxczwL0uwQVg,4.5,0.287253,0.912017,0.567228,0.953577
1149,uEzodpjckhsVQFfsXpFR0w,4,0.269349,0.900695,0.573331,0.968294
1059,qQvHYQ1uocuEnFcUdhxV_g,4.5,0.265026,0.89814,0.734973,0.924247
458,LhfKAGpQ12pgvQRqg-2wmw,4.5,0.284452,0.893159,0.781579,0.975411
496,OFdMlXxtkU_nUh8jJ4W6GA,4.5,0.269138,0.873589,0.428888,0.955459

In [112]:
topic1_scores.sort_values('price_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
1134,tqyhUt1OyImr8hT3wQ0a4A,4.5,0.147077,0.78263,1,0.971101
1108,sc__kdcFV4IcNTfBx1707w,4.5,0.361278,1,0.996671,0.603396
191,8t8pZI5SAlYhd6UEIkAcSg,4,0.193337,0.767233,0.918809,0.95938
1023,oQDUqkRer00JcB6DDRNH5A,4.5,0.269856,0.649232,0.886259,0.911958
29,0PVxodALQu-soL5J8bjerQ,3.5,0.109092,0.820346,0.84779,0.901382
901,heTUR_TGWJ9iYiiEWnikXg,3.5,0.132238,0.795957,0.830775,0.884489
1063,qVhFe0aIoNSBxfLReS3-PQ,4.5,0.208937,0.800388,0.819678,0.961356
866,g7OwoWQ_haDYnfmhCYMvSg,4.5,0.203653,0.651884,0.815424,0.96431
130,6LTV9xxwSlrUzFGWx1A8EQ,3.5,0.141402,0.705321,0.810431,0.948562
183,8VFjKdMN1pJR7Ze3joXIHA,4,0.109092,0.742099,0.79582,0.951685

In [113]:
topic1_scores.sort_values('service_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
274,Cf0iV72DTqR0ggBje2d0sg,4.5,0.254341,0.923144,0.532458,1
833,eIedjt0mHVKDFmfhtfKSAQ,4.5,0.174525,0.92709,0.61069,0.988899
32,0bjFYstj8USMzEV4ZQldjA,5,0.209032,0.808281,0.481968,0.983537
52,1hCKJqPC9uLIXavNKVudAg,5,0.158534,0.826136,0.579804,0.976862
241,BY6sk5uACmes9rU7vpdzWw,4,0.137671,0.724858,0.663029,0.976357
0,--ujyvoQlwVoBgMYtADiLA,3.5,0.108997,0.78829,0.598853,0.975695
458,LhfKAGpQ12pgvQRqg-2wmw,4.5,0.284452,0.893159,0.781579,0.975411
492,NvHGOIIukJ4y3iFswY-k8g,4.5,0.147891,0.809089,0.688552,0.972331
789,cozegmdHNzyxNqUp3KVKUA,4,0.176808,0.803752,0.653782,0.972205
588,TKDL0wiztnEr_rMkX8ZomQ,3.5,0.118879,0.763739,0.655077,0.971953

# Topic 2

In [83]:
weight2={'NOTbad':-0.0134,'NOTgood':-0.0191,'bad':-0.0276,'basic':-0.0125,'beauti':0.0176,'big':-0.0142,'clean':0.0124,
         'complet':-0.0385,'crowd':-0.0174,'deli':0.0734,'easi':-0.0105,'fine':-0.0232,
        'free':0.0222,'hate':-0.0147,'least':-0.0305,'less':-0.0192,'new':0.0172,
         'ok':-0.0193,'okay':-0.0116,'old':-0.0189,'origin':-0.0290,'quick':-0.0158,'soft':-0.0134,
         'tasti':0.0192,'warm':-0.0106,'wrong':-0.0170}

In [84]:
d=dict()
for i in range(topic2.shape[0]):
    score1=0
    num1=0
    score2=0
    num2=0
    score3=0
    num3=0
    score4=0
    num4=0
    d1=dict()
    line=topic2.iloc[i,:]
    food_dict=eval(line['food'])
    overrate_dict=eval(line['overrate'])
    service_dict=eval(line['service'])
    price_dict=eval(line['price'])
    for key in food_dict.keys():
        if key in weight2.keys():
            num1=num1+1
            score1=score1+food_dict[key]*weight2[key]
    for key in overrate_dict.keys():
        if key in weight2.keys():
            num2=num2+1
            score2=score2+overrate_dict[key]*weight2[key]
    for key in service_dict.keys():
        if key in weight2.keys():
            num3=num3+1
            score3=score3+service_dict[key]*weight2[key]
    for key in price_dict.keys():
        if key in weight2.keys():
            num4=num4+1
            score4=score4+price_dict[key]*weight2[key]
    d1['names']=line['Unnamed: 0']
    d1['stars']=line['stars']
    d1['food_scores']=score1/num1
    d1['overrate_scores']=score2/num2
    d1['service_scores']=score3/num3
    d1['price_scores']=score4/num4
    d[i]=d1

In [85]:
topic2_scores=pd.DataFrame(d)
topic2_scores=topic2_scores.T
topic2_scores=topic2_scores[['names','stars','food_scores','overrate_scores','price_scores','service_scores']]

In [89]:
topic2_scores['food_scores']=(topic2_scores['food_scores'] - topic2_scores['food_scores'].min()) / (topic2_scores['food_scores'].max() - topic2_scores['food_scores'].min())
topic2_scores['overrate_scores']=(topic2_scores['overrate_scores'] - topic2_scores['overrate_scores'].min()) / (topic2_scores['overrate_scores'].max() - topic2_scores['overrate_scores'].min())
topic2_scores['price_scores']=(topic2_scores['price_scores'] - topic2_scores['price_scores'].min()) / (topic2_scores['price_scores'].max() - topic2_scores['price_scores'].min())
topic2_scores['service_scores']=(topic2_scores['service_scores'] - topic2_scores['service_scores'].min()) / (topic2_scores['service_scores'].max() - topic2_scores['service_scores'].min())

In [91]:
topic2_scores.iloc[:5,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
0,-7H-oXvCxJzuT42ky6Db0g,3.5,0.503278,0.486314,0.582203,0.448728
1,-BuZrOMqgO4OU_UKYSddAg,3,0.916002,0.807436,0.766161,0.934551
2,-DUQQsE2QvFIuqO5EiChQA,4.5,0.915214,0.908212,0.689146,0.953853
3,-FcuxZqsQ0FO35GEXExwjw,3.5,0.916309,0.888111,0.766161,0.95994
4,-HgbBv9Yjqv735F9fwCZNg,2.5,0.796685,0.849969,0.698324,0.779096

In [99]:
topic2_scores.sort_values('food_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
490,QGPQp5VsRcP5Ma0ekCgj2Q,4,1,0.929752,0.966081,0.896415
243,Cg5hUSWUwFImqO4beH1Zyg,4.5,0.993848,0.888317,0.766161,0.950835
533,SlXPlhPcmptknTcGg2dTGA,5,0.982293,0.896412,0.766161,0.959888
964,rQXzCp-vsVpsPWFZX6Ua9w,5,0.943629,0.870893,0.923384,0.905364
743,dw19X71GczTLQpwAC-jIwQ,4,0.943168,0.904919,0.766161,0.959888
95,4OzzW_Zw9g_rjvPlji466Q,4.5,0.941899,0.875832,0.836393,0.973206
827,iuOK9_SBaJ5y0xzu4Fy4IQ,4.5,0.9394,0.891198,0.766161,0.953801
186,9MPLntyNzhdUXpGT-h0HUw,4.5,0.938189,0.914591,0.689146,0.980386
367,JxOFwZ_OdZLBY9XFo39Yuw,4.5,0.935901,0.908212,0.766161,0.959888
1021,vMH7j7Hl36b0gmdFWyZXpQ,3.5,0.935362,0.882829,0.766161,0.935227

In [101]:
topic2_scores.sort_values('overrate_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
372,K3lYaKPdaBim-LCOcmi6Jg,4,0.810586,1,0.610535,0.85032
745,e5sv-sFnoxzitw4fTpPi6w,3.5,0.889316,0.992591,0.766161,0.907289
985,sdh27i5q0EcAKagBDNQw3A,4.5,0.906889,0.987309,0.766161,0.909578
1105,zzwhN7x37nyjP0ZM8oiHmw,4,0.910888,0.982712,0.766161,0.929244
1100,zaQWCvCcNj8HI4YcfLzmgw,4,0.895988,0.981203,0.842777,0.927007
776,gHngt6zpP683GKe1i23LUg,3.5,0.756676,0.970433,0.492019,0.713751
81,3gnQUW3pzKE32RenMfuf9A,4.5,0.913445,0.969541,0.590982,0.95687
786,gkR_X3INE6Rr-TuM4ynhzQ,4.5,0.891046,0.962064,0.766161,0.921908
1028,vie0RmEbY8qqLjTgt0Uweg,4.5,0.920635,0.959251,0.815642,0.978825
940,q0n4I-zqiI47xispOqc1lA,4,0.899198,0.952734,0.612929,0.841475

In [115]:
topic2_scores.sort_values('price_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
550,TMirWwTikHCn5H82K9QMXQ,3,0.750428,0.635247,1,0.875189
490,QGPQp5VsRcP5Ma0ekCgj2Q,4,1,0.929752,0.966081,0.896415
1091,z5IINIjYm2HfyvHXvGMLtg,3,0.906831,0.892296,0.932961,0.925758
460,OQvChaBImI8X5B3aai8btg,3.5,0.810509,0.689031,0.931365,0.504969
964,rQXzCp-vsVpsPWFZX6Ua9w,5,0.943629,0.870893,0.923384,0.905364
898,nfJHNu_AQXptaTQIHjpAoQ,3.5,0.904351,0.841874,0.919393,0.932574
619,Xt6xo-UmJhYtHiscwRnw0A,4,0.813604,0.883652,0.919393,0.807242
929,pSAoDrxX7Q5VRe-7gpDpOw,4,0.69946,0.856212,0.911413,0.832891
1080,yZ_wpRr4Svw8YRZ9voCgIw,4,0.855402,0.878644,0.911413,0.87342
642,ZJjcyXWPg_d-jx7obAtitA,4.5,0.84475,0.862043,0.903432,0.942303

In [114]:
topic2_scores.sort_values('service_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
65,2p_xWNAGm_5sVvr_Vs6mlw,3.5,0.898314,0.852576,0.690742,1
857,lMx29wnA8FxJMcDoME_VoQ,2.5,0.888662,0.876243,0.656026,0.993393
895,n_knxbqwchwrpp1cZ8AZSw,4.5,0.91281,0.867737,0.766161,0.981739
361,JacuuWTDI4EU5-t7G6OIFw,3,0.901255,0.912053,0.766161,0.981323
186,9MPLntyNzhdUXpGT-h0HUw,4.5,0.938189,0.914591,0.689146,0.980386
625,YROFdvPCaZhSRzYg9u922Q,3,0.92125,0.896412,0.766161,0.979866
570,UlAUTA0hVi48_k73HSeyzw,3,0.894546,0.89504,0.766161,0.979137
1028,vie0RmEbY8qqLjTgt0Uweg,4.5,0.920635,0.959251,0.815642,0.978825
68,309erhwcN5ZkrbRD8CzktA,4,0.913887,0.908212,0.766161,0.977993
564,U8L8Xso7cMpNmbFMXm2V0g,3.5,0.911618,0.889209,0.766161,0.977785

# Topic 3

In [2]:
weight3={'NOTbad':-0.1449,'NOTgood':-0.1269,'NOTmuch':-0.0470,'bad':-0.0612,'basic':-0.0200,'best':0.0306,
         'big':0.0143,'clean':0.0264,'complet':-0.0875,'cool':0.0698,'crowd':0.1843,'deli':-0.1072,'disappoint':-0.0717,
        'easi':-0.0279,'fantast':0.0424,'fine':-0.0755 ,'free':0.0195,'great':0.0111,'hate':-0.0723,'high':-0.0114,
         'huge':0.0187,'larg':0.0469,'least':-0.0793,'less':-0.0941,'long':-0.0203,'new':-0.0171,'nice':0.0179,'ok':-0.0988,
         'okay':-0.0704,'origin':-0.0252,'pleas':0.0536,'pleasant':-0.0254,'plenti':0.0327,'quick':-0.0130,
         'recommend':0.0460,'serious':-0.0736,'special':0.0169,'spici':0.1177,'surpris':-0.0162,'sweet':0.0290,'top':-0.0149,'warm':0.0347,
        'well':-0.0180,'wrong':-0.0693 }

In [3]:
d=dict()
for i in range(topic3.shape[0]):
    score1=0
    num1=0
    score2=0
    num2=0
    score3=0
    num3=0
    score4=0
    num4=0
    d1=dict()
    line=topic3.iloc[i,:]
    food_dict=eval(line['food'])
    overrate_dict=eval(line['overrate'])
    service_dict=eval(line['service'])
    price_dict=eval(line['price'])
    for key in food_dict.keys():
        if key in weight3.keys():
            num1=num1+1
            score1=score1+food_dict[key]*weight3[key]
    for key in overrate_dict.keys():
        if key in weight3.keys():
            num2=num2+1
            score2=score2+overrate_dict[key]*weight3[key]
    for key in service_dict.keys():
        if key in weight3.keys():
            num3=num3+1
            score3=score3+service_dict[key]*weight3[key]
    for key in price_dict.keys():
        if key in weight3.keys():
            num4=num4+1
            score4=score4+price_dict[key]*weight3[key]
    d1['names']=line['Unnamed: 0']
    d1['stars']=line['stars']
    d1['food_scores']=score1/num1
    d1['overrate_scores']=score2/num2
    d1['service_scores']=score3/num3
    d1['price_scores']=score4/num4
    d[i]=d1

In [4]:
topic3_scores=pd.DataFrame(d)
topic3_scores=topic3_scores.T
topic3_scores=topic3_scores[['names','stars','food_scores','overrate_scores','price_scores','service_scores']]

In [5]:
topic3_scores['food_scores']=(topic3_scores['food_scores'] - topic3_scores['food_scores'].min()) / (topic3_scores['food_scores'].max() - topic3_scores['food_scores'].min())
topic3_scores['overrate_scores']=(topic3_scores['overrate_scores'] - topic3_scores['overrate_scores'].min()) / (topic3_scores['overrate_scores'].max() - topic3_scores['overrate_scores'].min())
topic3_scores['price_scores']=(topic3_scores['price_scores'] - topic3_scores['price_scores'].min()) / (topic3_scores['price_scores'].max() - topic3_scores['price_scores'].min())
topic3_scores['service_scores']=(topic3_scores['service_scores'] - topic3_scores['service_scores'].min()) / (topic3_scores['service_scores'].max() - topic3_scores['service_scores'].min())

In [6]:
topic3_scores.iloc[:5,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
0,-IFq5ULEK4Fl8ZzrArtB5g,4,0.477724,0.338238,0.736872,0.663717
1,-LccesU7Hg_OVBPLH2DkIg,4,0.464678,0.293961,0.736441,0.577939
2,-R2kwt0qMnzwEdAfXPvkXg,4,0.621421,0.708902,0.563084,0
3,-W4gdvXVwi2nTkAIjqaJzA,3.5,0.460319,0.283574,0.736872,0.677862
4,-WRLKqr9TXFYp0LtBB6ACg,5,0.63625,0.311805,0.736872,0.685597

In [7]:
topic3_scores.sort_values('food_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
6,-igpUhnA1b5iUK6rfAtuPw,4.5,1,0.600706,0.833261,0.364713
145,Hz1F5uruPe1kCsf5PIA6Sg,4.5,0.91684,0.23963,0.728097,0.436555
427,oS96aJIHFWcFAlGHKKXjaw,4.5,0.906338,0.505293,0.584952,0.472441
498,xA6L2w_TlbxHubb1xeBE8w,4,0.789557,0.292296,0.809092,0.19922
49,5u27mhDjcJ4Y7QbDhRyaXg,4.5,0.788566,0.173846,0.707812,0.578705
10,08t3_HjbpLyPeuft6eoa5A,4.5,0.721325,0.473534,0.704503,0.746777
291,Z2NIEKTVVP2nEmOF4jNxqQ,4.5,0.699131,0.504361,0.529564,0.71779
436,pv__91LMXAbNX50NgeO55g,4.5,0.69355,0.388508,0.353474,0.695631
268,VT8vUd-2s5IdvSNwhNHkpg,4.5,0.679151,0.398495,0.556035,0.651941
486,wHlLjTBWPEbxHw6ZysSKIg,4,0.673173,0.534057,0.866926,0.52735

In [8]:
topic3_scores.sort_values('overrate_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
76,9yRS-SNzkfmThx2JJoilwA,4.5,0.461079,1,0.784348,0.841684
121,FG8atOE15c8IoQH_hEb9zA,4.5,0.619505,0.955057,0.764926,0.455996
178,MKd_EUD0PG__cOfIbeqYAg,4.5,0.584729,0.954524,0.710977,0.718138
368,hzyvL2v97xLzLbLXcdi1uw,4,0.597444,0.838937,0.495612,0.259703
237,RqmORv3974ZDC6Zh4nSQwg,4,0.290862,0.81317,0.461085,0.556965
269,VaQhUU3P4Z5A3oYPsEMbkw,4.5,0.418574,0.806911,0.63516,0.768518
38,4iSVxQKK1G3V-LBffQxaKg,4,0.259685,0.782942,0.709826,0.791443
317,bXCWON2Me0o86qvAb-XZPQ,4.5,0.465438,0.718357,0.620055,0.968156
158,K8M3OeFCcAnxuxtTc0BQrQ,4,0.469236,0.709368,0.546396,0.655982
2,-R2kwt0qMnzwEdAfXPvkXg,4,0.621421,0.708902,0.563084,0

In [9]:
topic3_scores.sort_values('price_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
39,5H1gvB-TB_sHWasXdS64Uw,4.5,0.349285,0.510487,1,0.753606
57,6WU_JVpPPnbAfBvMcRoPuw,3.5,0.314145,0.144417,0.943318,0.707407
128,GLKPlORydRnyFmeLK-1sHQ,5,0.511212,0.351954,0.923177,0.753188
283,YAh8NNgq3vSRxQW6PQQ5Yg,4,0.396083,0.213796,0.906201,0.685597
494,x5G0GUkGnlWtM49Qe4nHog,4.5,0.568183,0.356016,0.886203,0.784963
260,Uh6EhbFKgQlhVpfvnqsfHA,4.5,0.435186,0.397164,0.882031,0.672357
106,E4uunCOBjqk57GzGbXyGpA,5,0.564153,0.202943,0.879154,0.584001
160,KIlGZ7hS7X26YvuzzCT5Yg,4,0.482579,0.392836,0.871817,0.677862
416,nbsjdiUunohQX1JAxsqpMw,4.5,0.456191,0.326586,0.871817,0.602815
223,QqGMtc24VdCzYAajw1g4bA,4,0.446646,0.582129,0.868364,0.434534

In [10]:
topic3_scores.sort_values('service_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
383,jPWGcicuwRxciN5WGhz_wQ,4.5,0.596288,0.335109,0.744209,1
317,bXCWON2Me0o86qvAb-XZPQ,4.5,0.465438,0.718357,0.620055,0.968156
448,rqLksDzegxNXMWwZk3eZnQ,4,0.662505,0.372861,0.589124,0.939168
496,x8WI_GkeGHGJCXggDm8flg,4,0.532151,0.506891,0.467846,0.927252
73,99SN6hku1PToQ2E3-4h8CA,4,0.342746,0.299021,0.796864,0.874991
76,9yRS-SNzkfmThx2JJoilwA,4.5,0.461079,1,0.784348,0.841684
194,NroyyTFsCWXnqUIn5UXFlQ,4.5,0.510618,0.369798,0.633722,0.837294
33,3jD75qcVu6U3ivJVEZQbwA,4.5,0.607682,0.384912,0.710545,0.836248
239,SHlfx41Mo4dk2WR1VyT2_Q,4.5,0.536147,0.468407,0.720472,0.826284
86,BKmKEdTZOdrOA0yHPcvjHw,5,0.484197,0.313736,0.752841,0.816041

# topic 4

In [2]:
weight4={'NOTbad':-0.0229,'NOTgood':-0.0343,'NOTmuch':0.0140,'amaz':0.0167,'awesom':0.0306,'bad':-0.0384,
         'basic':-0.0485,'beauti':-0.0210,'best':0.0180,'better':-0.0313,'big':0.0357,
        'clean':0.0247,'complet':-0.0568,'cool':-0.0472,'crowd':-0.0444,'deli':-0.0367,'disappoint':-0.0141,
         'easi':0.0124,'fine':-0.0245,'free':-0.0130,'fresh':0.0151,'fun':-0.0216,
        'great':0.0161,'hate':0.0110,'high':0.0238,'kind': 0.0152,'larg':-0.0120,'less':-0.0149 ,'long':-0.0421 ,
         'ok':-0.0212,'okay':-0.0442,'origin':0.0161,'perfect':-0.0182 ,'pleasant':0.0253,
        'plenti':-0.0131,'quick':0.0108,'recommend':-0.0123,'serious':-0.0499 ,'surpris':0.0105,'tasti':0.0167,
         'well':-0.0153,'wrong':-0.1131}

In [3]:
d=dict()
for i in range(topic4.shape[0]):
    score1=0
    num1=0
    score2=0
    num2=0
    score3=0
    num3=0
    score4=0
    num4=0
    d1=dict()
    line=topic4.iloc[i,:]
    food_dict=eval(line['food'])
    overrate_dict=eval(line['overrate'])
    service_dict=eval(line['service'])
    price_dict=eval(line['price'])
    for key in food_dict.keys():
        if key in weight4.keys():
            num1=num1+1
            score1=score1+food_dict[key]*weight4[key]
    for key in overrate_dict.keys():
        if key in weight4.keys():
            num2=num2+1
            score2=score2+overrate_dict[key]*weight4[key]
    for key in service_dict.keys():
        if key in weight4.keys():
            num3=num3+1
            score3=score3+service_dict[key]*weight4[key]
    for key in price_dict.keys():
        if key in weight4.keys():
            num4=num4+1
            score4=score4+price_dict[key]*weight4[key]
    d1['names']=line['Unnamed: 0']
    d1['stars']=line['stars']
    d1['food_scores']=score1/num1
    d1['overrate_scores']=score2/num2
    d1['service_scores']=score3/num3
    d1['price_scores']=score4/num4
    d[i]=d1

In [4]:
topic4_scores=pd.DataFrame(d)
topic4_scores=topic4_scores.T
topic4_scores=topic4_scores[['names','stars','food_scores','overrate_scores','price_scores','service_scores']]

In [5]:
topic4_scores['food_scores']=(topic4_scores['food_scores'] - topic4_scores['food_scores'].min()) / (topic4_scores['food_scores'].max() - topic4_scores['food_scores'].min())
topic4_scores['overrate_scores']=(topic4_scores['overrate_scores'] - topic4_scores['overrate_scores'].min()) / (topic4_scores['overrate_scores'].max() - topic4_scores['overrate_scores'].min())
topic4_scores['price_scores']=(topic4_scores['price_scores'] - topic4_scores['price_scores'].min()) / (topic4_scores['price_scores'].max() - topic4_scores['price_scores'].min())
topic4_scores['service_scores']=(topic4_scores['service_scores'] - topic4_scores['service_scores'].min()) / (topic4_scores['service_scores'].max() - topic4_scores['service_scores'].min())

In [6]:
topic4_scores.iloc[:5,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
0,--GM_ORV2cYS-h38DSaCLw,3.5,0.575928,0.548427,0.432749,0.727906
1,-2dlgoN1ass-zmrE5rqHGw,2,0.535923,0.558256,0.399123,0.731569
2,-40RDS4F54qiGiEQUsZaXA,3.5,0.57085,0.51644,0.399123,0.731569
3,-7PX_FOoCwktlunImRyZdg,4.5,0.662762,0.420926,0.293024,0.594164
4,-8ILwSisSrTzcyy_Z0o9oA,3.5,0.442329,0.413778,0.43066,0.587665

In [7]:
topic4_scores.sort_values('price_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
659,hUCujBvgttk5jNh_uQwi2Q,4,0.716694,0.61124,1,0.508684
593,ckbDWYPT8TP7etP0WHU2Yg,4.5,0.729125,0.759471,0.705723,0.961484
712,kmq0Y15icHK36kpJyho_Zw,4,0.50944,0.628217,0.688596,0.759156
35,1hqOjPxgH8IXE4bNq6DFiw,3.5,0.802592,0.543692,0.680869,0.736
656,hHgSUnDB9yIrxUEMSmsdoQ,4,0.709091,0.868835,0.677736,0.704631
141,88Mq2edCXyXRtjmY_Vkarg,3.5,0.538603,0.289761,0.672097,0.567994
858,usFNFsaaHFxEbnBO4FaFHA,4,1,1,0.66604,0
715,kwMJ4KfhEcrk9jiMe-S6wQ,4,0.783057,0.436472,0.657268,0.722944
81,497iuIdzSZqEVZ_iTnp-Jg,4.5,0.789101,0.57961,0.647243,0.793951
627,fiRbomFAAtfTYOTTtnDUcA,3,0.44289,0,0.643484,0.360822

In [8]:
topic4_scores.sort_values('overrate_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
858,usFNFsaaHFxEbnBO4FaFHA,4,1,1,0.66604,0
525,ZL6BK8wweb-8ncJ7kFIG-A,4.5,0.656499,0.992137,0.476608,0.76081
183,BcLFIr4wtd3GQ3fnz15yDQ,4.5,0.80496,0.954789,0.503342,0.595522
115,6hKY8sj-ikAQdzrkrBcvuQ,4,0.431487,0.945139,0.601295,0.711957
418,SsBi4mjcfsQJUMkyQlgg1Q,4,0.799383,0.893853,0.45614,0.862831
397,QnTguWLRKRK_reQ__8k7yw,4.5,0.757166,0.876876,0.522556,0.938445
656,hHgSUnDB9yIrxUEMSmsdoQ,4,0.709091,0.868835,0.677736,0.704631
63,38aN0fB_zHtkw1kb3lSj8g,4,0.697595,0.835061,0.527778,0.846999
31,1Bc4KYox4Fux-aLV4OfFnA,4.5,0.859172,0.826662,0.5,0.717746
221,Een2yret0IwJUpHLwcxtRg,4.5,0.730371,0.817906,0.399123,0.776229

In [9]:
topic4_scores.sort_values('price_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
659,hUCujBvgttk5jNh_uQwi2Q,4,0.716694,0.61124,1,0.508684
593,ckbDWYPT8TP7etP0WHU2Yg,4.5,0.729125,0.759471,0.705723,0.961484
712,kmq0Y15icHK36kpJyho_Zw,4,0.50944,0.628217,0.688596,0.759156
35,1hqOjPxgH8IXE4bNq6DFiw,3.5,0.802592,0.543692,0.680869,0.736
656,hHgSUnDB9yIrxUEMSmsdoQ,4,0.709091,0.868835,0.677736,0.704631
141,88Mq2edCXyXRtjmY_Vkarg,3.5,0.538603,0.289761,0.672097,0.567994
858,usFNFsaaHFxEbnBO4FaFHA,4,1,1,0.66604,0
715,kwMJ4KfhEcrk9jiMe-S6wQ,4,0.783057,0.436472,0.657268,0.722944
81,497iuIdzSZqEVZ_iTnp-Jg,4.5,0.789101,0.57961,0.647243,0.793951
627,fiRbomFAAtfTYOTTtnDUcA,3,0.44289,0,0.643484,0.360822

In [10]:
topic4_scores.sort_values('service_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
376,PYIwY8EqOyMLQG567xwVEw,4,0.5916,0.73213,0.400794,1
507,YV2UPfovJZVKSEQjgTdbpA,4,0.627274,0.764385,0.468045,0.968514
593,ckbDWYPT8TP7etP0WHU2Yg,4.5,0.729125,0.759471,0.705723,0.961484
271,HZRTSC7R0JWThNTCqVLnsQ,4.5,0.859796,0.601144,0.420844,0.941931
397,QnTguWLRKRK_reQ__8k7yw,4.5,0.757166,0.876876,0.522556,0.938445
218,EWpRPVSiPxWbdJBgNDNvGw,4.5,0.730839,0.649571,0.327485,0.905423
624,faTB5Lg-blm8MG-y6KUOrg,4.5,0.794492,0.719621,0.403718,0.901997
870,vNQkym5qZ-E-4AJ4IQ5JEg,4.5,0.764831,0.73633,0,0.898629
181,BKK6BdsJLPQufoC1T-iu1g,4.5,0.680864,0.646801,0.617168,0.890773
18,-sCaUNqEfFOYwtu8WCw5Wg,3.5,0.682016,0.610883,0.501044,0.877836

# topic 5

In [11]:
weight5={'NOTbad':-0.0351,'NOTgood':-0.0523,'awesom':0.0130,'bad':-0.0250,'basic':0.0143,'beauti':-0.0205,
         'better':-0.0167,'clean':0.0117,'cool':-0.0445,'crowd':-0.0323,'deli':-0.1321,'delici':0.0148,
         'fantast':0.0117,'fine':-0.0104,'free':-0.0149 ,'fresh':0.0106,'fun':0.0168,'hate':-0.0415,
        'high':0.0181,'larg':0.0182,'long':-0.0250,'ok':-0.0195,'okay':-0.0117,'old':-0.0262,'origin':0.0456,
         'pertti':0.2267,'plenti':-0.0190,'recommend':-0.0108,'regular':0.0128,'serious':-0.0141,
         'soft':0.0212,'tasti': 0.0132,'wrong':-0.0327}

In [12]:
d=dict()
for i in range(topic5.shape[0]):
    score1=0
    num1=0
    score2=0
    num2=0
    score3=0
    num3=0
    score4=0
    num4=0
    d1=dict()
    line=topic5.iloc[i,:]
    food_dict=eval(line['food'])
    overrate_dict=eval(line['overrate'])
    service_dict=eval(line['service'])
    price_dict=eval(line['price'])
    for key in food_dict.keys():
        if key in weight5.keys():
            num1=num1+1
            score1=score1+food_dict[key]*weight5[key]
    for key in overrate_dict.keys():
        if key in weight5.keys():
            num2=num2+1
            score2=score2+overrate_dict[key]*weight5[key]
    for key in service_dict.keys():
        if key in weight5.keys():
            num3=num3+1
            score3=score3+service_dict[key]*weight5[key]
    for key in price_dict.keys():
        if key in weight5.keys():
            num4=num4+1
            score4=score4+price_dict[key]*weight5[key]
    d1['names']=line['Unnamed: 0']
    d1['stars']=line['stars']
    d1['food_scores']=score1/num1
    d1['overrate_scores']=score2/num2
    d1['service_scores']=score3/num3
    d1['price_scores']=score4/num4
    d[i]=d1

In [14]:
topic5_scores=pd.DataFrame(d)
topic5_scores=topic5_scores.T
topic5_scores=topic5_scores[['names','stars','food_scores','overrate_scores','price_scores','service_scores']]

In [15]:
topic5_scores['food_scores']=(topic5_scores['food_scores'] - topic5_scores['food_scores'].min()) / (topic5_scores['food_scores'].max() - topic5_scores['food_scores'].min())
topic5_scores['overrate_scores']=(topic5_scores['overrate_scores'] - topic5_scores['overrate_scores'].min()) / (topic5_scores['overrate_scores'].max() - topic5_scores['overrate_scores'].min())
topic5_scores['price_scores']=(topic5_scores['price_scores'] - topic5_scores['price_scores'].min()) / (topic5_scores['price_scores'].max() - topic5_scores['price_scores'].min())
topic5_scores['service_scores']=(topic5_scores['service_scores'] - topic5_scores['service_scores'].min()) / (topic5_scores['service_scores'].max() - topic5_scores['service_scores'].min())

In [16]:
topic5_scores.iloc[:5,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
0,-3rvpkYkYD_N1IP4hSvD0A,3.5,0.349836,0.86009,0.622835,0.903813
1,-AtzcXIwEP6yO7rM9CM9ww,4,0.362408,0.857682,0.622835,0.886168
2,-Is6Ney1wmsJAjvDdkaaaQ,3,0.34497,0.880791,0.622835,0.895636
3,-Kw6QNbBBgextJZlhtIq9w,4.5,0.336952,0.854387,0.622835,0.884877
4,-ORqiS4L-8pq3dLsUazXTg,4,0.362596,0.880791,0.622835,0.895636

In [17]:
topic5_scores.sort_values('food_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
438,dLc1d1zwd1Teu2QED5TmlA,4.5,1,0.586416,0.789764,0
675,woXlprCuowrLJswWere3TQ,4.5,0.717423,0,0.882152,0.688113
449,e2ng0CQ69anIawqIKzhtlg,4,0.716737,0.928489,0.912073,0.76842
61,4mYS-4UOjTKgsf0tX1_IkQ,4.5,0.705319,0.993593,0.725459,0.922362
283,Q4WmBfRD6rcTSXVZqjKC5Q,4.5,0.676993,0.964634,0.84147,0.959761
346,Voeq7aGDmCGMjE_SQiHwRA,4.5,0.652659,0.580121,1,0.812661
637,u6XxSPpzjlniCEbLxFpkyQ,4,0.610763,0.812243,0.339895,0.784429
633,ttgfifuRK6svfWcXoGG-mQ,4,0.592263,0.866941,0.50105,0.867705
304,Rux4-v3zqD5lxCqrSa9Ewg,4.5,0.589892,0.95719,0.851444,0.888105
345,VgWvHMs5TJ2lr0ec2DaMtQ,4.5,0.581844,0.880124,0.485302,0.933982

In [18]:
topic5_scores.sort_values('overrate_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
546,lTxZFiWEd2NNF4Eh7_mlRg,4,0.390267,1,0.559318,0.836375
448,e-ZkvfbMZi628OKVcoFOAw,4,0.436313,0.994223,0.453806,0.960148
61,4mYS-4UOjTKgsf0tX1_IkQ,4.5,0.705319,0.993593,0.725459,0.922362
283,Q4WmBfRD6rcTSXVZqjKC5Q,4.5,0.676993,0.964634,0.84147,0.959761
304,Rux4-v3zqD5lxCqrSa9Ewg,4.5,0.589892,0.95719,0.851444,0.888105
635,u0F9WJbECpg5fEesAx94xA,4.5,0.421276,0.956597,0.630446,0.949733
538,kkD0tv_e5E6a8kRpLYEcaA,4,0.416908,0.950672,0.400262,0.815373
623,tCSEEGChTViEZWuGL9UIHw,4,0.430791,0.947747,0.622835,0.924428
195,HThLR9ln5hLPL24-7TyWtA,5,0.402028,0.931674,0.689501,0.927914
310,S8VRQCBrbZI04zjCOc1RAA,4.5,0.519014,0.930193,0.650656,0.922104

In [19]:
topic5_scores.sort_values('service_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
402,aSb4vkaMh7K2lHhnV2UIag,4.5,0.465793,0.916972,0.565354,1
99,8LUKD_9rkJoUIIuT9uiDbA,4,0.429013,0.861275,0.720997,0.992899
241,MLVnaAgR3FD2O9mBTKDqoQ,4.5,0.472625,0.921898,0.700525,0.981064
448,e-ZkvfbMZi628OKVcoFOAw,4,0.436313,0.994223,0.453806,0.960148
283,Q4WmBfRD6rcTSXVZqjKC5Q,4.5,0.676993,0.964634,0.84147,0.959761
273,PBmMvDows5HWIqrEVvNfQQ,4.5,0.536141,0.866422,0.637533,0.958254
105,8iVd6gMWKGGU9SL55B4vjg,4.5,0.395009,0.927082,0.680577,0.955715
635,u0F9WJbECpg5fEesAx94xA,4.5,0.421276,0.956597,0.630446,0.949733
680,xLy3aWEbtpoUSVdjuHBS0A,3.5,0.198971,0.770359,0.767979,0.948743
351,WZDQqw960DaMWDyPbtRFtA,4.5,0.504945,0.850868,0.795801,0.946979

In [20]:
topic5_scores.sort_values('price_scores',ascending=False).iloc[:10,:]

,names,stars,food_scores,overrate_scores,price_scores,service_scores
346,Voeq7aGDmCGMjE_SQiHwRA,4.5,0.652659,0.580121,1,0.812661
400,aHuGV6FS0j8_1_p9vFeNuA,3,0.271471,0.86009,0.955381,0.825357
78,6CjVFTO7F-q8BP7oQKB_9g,3.5,0.322602,0.817613,0.930709,0.783267
119,A4kCvILTgfr_2cG0_yGNiw,3.5,0.261394,0.80954,0.928084,0.816664
449,e2ng0CQ69anIawqIKzhtlg,4,0.716737,0.928489,0.912073,0.76842
492,hcFSc0OHgZJybnjQBrL_8Q,4,0.411168,0.677591,0.904724,0.681615
434,dAcaMSkrpYUZocqrLvOzRQ,3.5,0.297738,0.889309,0.902887,0.900757
410,b8ublvizuqIw3Ib8pK4fDw,3.5,0.360973,0.765619,0.893701,0.674772
89,7aZf5c1UNotq4MabBXMZLA,3.5,0.324817,0.804281,0.889501,0.70692
675,woXlprCuowrLJswWere3TQ,4.5,0.717423,0,0.882152,0.688113